<!DOCTYPE html>
<html>
  <head>
    <title>Task</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <main class="container mx-auto mt-28 px-5 flex flex-col">
    <% flash.each do |type, msg| %>
      <div data-controller="flash" class="<%= flash_class(type) %> rounded-lg shadow-lg p-4 mb-4 transition-all duration-4000 ease-linear fixed top-20 left-1/2 transform -translate-x-1/2 w-64" id="flash-message">
        <p class="text-white font-bold text-sm"><%= msg %></p>
      </div>
    <% end %>

    <%= yield %>
  </main>
  </body>
</html>
